<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Artify</title>
    <link rel="shortcut icon" type="image/png" href="static/images/pbrush.png">
    <style> 
    	body { 
    		background-color:#F5F5F5; 
    	} 
    	h1 { 
    		text-align: center; 
    		color: black; 
    	} 
        h2 { 
            text-align: left; 
            color: black; 
        } 
        h3 { 
            text-align: left; 
            color: black; 
        } 
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 360px;
            width: 50%;
        }

	</style> 
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        	<h1> Error! </h1>
            <img src="/static/images/errorcat.jpg" alt="ErrorCat" height="auto">
            <h2> The Image that you provided does not appear to be working. </h2>
            <h3> Here are some suggestions: </h3>
            <dl>
              <dt>File type:</dt>
              <dd>- Make sure the data is stored as a supported image type.</dd>
              <dt>Examples:</dt>
              <dd><span>&#9989;</span> Input data: FunnyCats.jpg </dd>
              <dd><span>&#9989;</span> Input data: FunnyCats.jpeg </dd>
              <dd><span>&#9989;</span> Input data: FunnyCats.png </dd>
              <dd><span>&#10060;</span> Input data: Classification_Data.csv </dd>
            </dl>
        </div>
    </div>
</body>
</html>